<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/src/client/css/hamburger.css"/>  
        <link rel="stylesheet" href="/src/client/libs/font-awesome/css/font-awesome.min.css"/>
        <!--inject:css-->        
        
        <link rel="stylesheet" href="/tmp/site.css">        
        
        <!--endinject-->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,700' rel='stylesheet' type='text/css'>
        <title>Responsive Starter Web</title>
    </head>
    <body ng-app="responsive-starter">
       <!--header appears on desktop screen sizes (769px and above) -->
       <header role="banner" class="header" shrink-nav shrink-height="50">           
            <div class="wrapper">                
                <a href="/#/home" class="home-nav">
                    <span class="branding-logo">
                        Responsive starter website
                    </span>
                </a>
                <nav class="main-nav main-nav-desktop">
                    <ul class="nav-list">                      
                        <li class="nav-item">
                            <a href="/#/about">about</a>
                        </li>
                         <li class="nav-item">
                            <a href="/#/contact">contact</a>
                        </li>
                    </ul>
                </nav>             
            </div>
        </header>
        
        <!-- hamburger appears on screens below 768px (tablet) -->
        <div class="hamburger-holder" ng-controller="navigationController as vm">
            <button class="c-hamburger c-hamburger--htx"
                    ng-click="vm.hamburgerMenuClicked()"
                    ng-class="{ 'is-active': hamburgerMenuActive === true }">
                <span>toggle menu</span>
            </button>
        </div> 
        
                     
        <!-- mobile-nav Activated when user clicks hamburger menu
             --> 
         <div class="mobile-nav" ng-controller="navigationController as vm"                
                ng-class="{ 'mobile-nav-active': hamburgerMenuActive === true }">
            <ul class="mobile-nav-list">
                <li class="nav-item">
                    <a href="/#/home" ng-click="vm.closeMobileMenu()">home</a>
                </li>
                <li class="nav-item">
                    <a href="/#/about" ng-click="vm.closeMobileMenu()">about</a>
                </li>   
                <li class="nav-item">
                    <a href="/#/contact" ng-click="vm.closeMobileMenu()">contact</a>
                </li>     
            </ul>
        </div>  
                   
        <div class="main-content">
            <div class="container-fluid">                
                <ui-view></ui-view>
            </div>
       </div>
        
       
       <footer class="footer">
           <div class="footer-section footer--home-width">
               <a href="/#/home" class="home-nav">
                   Responsive starter website 
                </a>
           </div> 
            <div class="footer-section footer--nav-width">
                <div class="footer-nav">            
                    <ul class="footer-nav-list">
                        <li class="nav-item">
                            <a href="/#/home" ng-click="closeMobileMenu()">home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/#/about">about</a>
                        </li>   
                        <li class="nav-item">
                            <a href="/#/contact">contact</a>
                        </li>     
                    </ul>
            </div>          
           </div> 
           <div class="footer-section footer--social-width">
            <div class="footer-social">
                <ul class="social">                       
                        <li>
                            <a target="_blank" href="https://www.linkedin.com">
                                <i class="fa fa-linkedin fa-2x"></i>
                            </a> 
                        </li>    
                        <li>
                            <a target="_blank" href="http://www.twitter.com">
                                <i class="fa fa-stack-overflow fa-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.facebook.com">
                                <i class="fa fa-github fa-2x"></i>
                            </a>
                        </li>                        
                    </ul>
                </div>
           </div> 
        </footer>
        
        <!--bower:js-->
        <script src="libs/angular/angular.js"></script>
        <script src="libs/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="libs/jquery/dist/jquery.js"></script>
        <!--endbower-->
        
        <!--inject:js-->       
        <script src="/src/client/scripts/js/app.js"></script>       
        <script src="/src/client/scripts/js/IContentController.js"></script>       
        <script src="/src/client/scripts/js/aboutController.js"></script>       
        <script src="/src/client/scripts/js/bottomContentController.js"></script>       
        <script src="/src/client/scripts/js/common.directives.js"></script>       
        <script src="/src/client/scripts/js/contactController.js"></script>       
        <script src="/src/client/scripts/js/navigationController.js"></script>       
        <script src="/src/client/scripts/js/shrinkNavDirective.js"></script>       
        <script src="/src/client/scripts/js/topContentController.js"></script>       
        <!--endinject-->
    </body>    
</html>